@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #586069;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}

.instance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    margin: 0.3rem;
    button {
        background: none;
        border: none;
        padding: 0.7rem;
        font-family: "Questrial", sans-serif;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        color: var(--text-color);
    }
    button:hover {
        cursor: pointer;
    }
}

.instance:hover {
    cursor: pointer;
}

@media only screen and (max-width: 360px) {
    .instance {
        padding: 0.3rem;
        button {
            padding: 0.5rem;
        }
    }
}
