@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@import '../../styles.scss';  

@font-face {
  font-family: 'Calibre-Medium';
  src: url('../../assets/fonts/Calibre-Medium.eot');
  src: url('../../assets/fonts/Calibre-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Calibre-Medium.woff') format('woff'),
    url('../../assets/fonts/Calibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Calibre-Semibold';
  src: url('../../assets/fonts/Calibre-Semibold.eot');
  src: url('../../assets/fonts/Calibre-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Calibre-Semibold.woff') format('woff'),
    url('../../assets/fonts/Calibre-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #event-title {
        font-size: 25px;
        margin-top: 3rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .details-subcontainer {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        width: 320px;
        height: auto;
        overflow: hidden;
        background-color: var(--block-bg);
        #title-div {
            border-bottom: 1px solid var(--border-color);
            background: var(--header-bg);
            background-color: var(--header-bg);
            height: 60px;
            #title {
                font-size: 20px;
                color: var(--heading-color);
                font-family: $font-weight-bold;
                font-weight: bold;
                padding-top: 12px;
            }
        }
        .details-body {
          background-color: var(--block-bg);
        }
        p {
            font-size: 18px;
            font-family: $font-weight-normal;
            color: var(--text-color);
            a {
                margin-left: 0.3rem;
                i {
                    color: var(--link-color);
                }
            }
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            span {
                font-size: 18px;
                color: var(--heading-color);
                font-family: $font-weight-normal;
            }
        }
        #price-values {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0;
            }
        }
    }
}
