@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$font-style: "Questrial", sans-serif;

:root {
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #586069;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}

.details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #event-title {
        font-size: 25px;
        margin-top: 3rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .details-subcontainer {
        margin-top: 3rem;
        border: 2px solid var(--border-color);
        border-radius: 5px;
        width: 300px;
        height: auto;
        #title-div {
            border-bottom: 2px var(--border-color);
            background-color: var(--header-bg);
            height: 50px;
            #title {
                color: var(--text-color);
                font-weight: bold;
            }
        }
        .details-body {
          background-color: var(--block-bg);
        }
        p {
            color: var(--text-color);
            a {
                margin-left: 0.3rem;
                i {
                    color: var(--link-color);
                }
            }
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            span {
                font-weight: bold;
                font-size: 18px;
                color: var(--text-color);
            }
        }
        #price-values {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0;
            }
        }
    }
}
